body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}


p {
  color: rgb(219, 207, 28);
  font-size: 72px;
}

span {
  display: inline-block;
}